<div class="menu">
  <div class="menu__overlay"></div>
  <div class="menu__content">
    <a href="photography">
      <h3 class="artist-name">{{site.name}}</h3>
    </a>

    <div>
      <a 
        href="photography"
        class="site-link site-link--photography"
      >
        Photography
      </a>
    </div>
    <div>
      <a
        href="collage"
        class="site-link site-link--collage"
      >
        Collage
    </a>
    </div>
    <div>
      <a 
        href="sculpture"
        class="site-link site-link--sculpture"
      >
        Sculpture
      </a>
    </div>
    <div>
      <a
        href="cv"
        class="site-link site-link--cv"
      >
        CV
      </a>
    </div>
    <div>
      <a
        href="mailto:{{ site.email }}"
        class="site-link site-link--contact"
      >
        Contact
      </a>
    </div>
    <div class="copyright">
      &copy; 2016 Sylvia Feliz Sewell
    </div>
  </div>
</div>