<div class="menu">
  <div class="menu__overlay"></div>
  <div class="menu__content">
    <a href="/photogrpahy">
      <h3 class="artist-name">SYLVIA FELIZ SEWELL</h3>
    </a>

    <div>
      <a 
        href="/photography"
        class="site-link site-link--photography"
      >
        Photography
      </a>
    </div>
    <div>
      <a
        href="/collages"
        class="site-link"
      >
        Collage
    </a>
    </div>
    <div>
      <a 
        href="/sculptures"
        class="site-link"
      >
        Sculpture
      </a>
    </div>
    <div>
      <a
        href="/cv"
        class="site-link"
      >
        CV
      </a>
    </div>
    <div>
      <a
        href="/contact"
        class="site-link"
      >
        Contact
      </a>
    </div>
    <div class="copyright">
      &copy; 2016 Sylvia Feliz Sewell
    </div>
  </div>
</div>