$frame-height: 80vh;

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: red;
  }
}

.copyright {
  margin-top: 12px;
  font-size: .7em;
  color: #888888;
}

.link {
  text-decoration: none;
  color: black;
  font-size: .8em;
  line-height: 1.6;
}

.frame {
  position: absolute;
  margin: 10vh 0;
}

.menu {
  position: fixed;
  // TODO: switch to height of frame?
  height: 100%;
  margin: 0px 10px 10px 50px;
}

.menu__content {
  position: relative;
  padding: 5px 15px;
  .artist-name {
    margin-top: 0;
  }
}

.menu__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: .3;
}

.main {
   width: 10000px;
   height: 100%;
   padding-left: 300px;
}

.main__inner {
  height: 100%;
}

.image {
  display: inline-block;
  margin-right: 22px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
