<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
<body>
  <script type="text/javascript" src="assets/javascripts/bundle.js" charset="utf-8"></script>
  <div class="container-cv">
    <div
    class="frame"
    style="height: {{ page.frameHeight }};"
  >
      {% include menu.html %}
      <div class="main">
        <div class="cv__title">
          CV
        </div>
        <div class="main__inner main__inner--cv">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</body>
